engine/src/main/java/com/agiletec/aps/system/common/entity/parse/attributeDisablingCodes-4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="disablingcodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="disablingcode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="disablingcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="description"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:NMTOKEN"/>
  <xs:element name="description" type="xs:string"/>
</xs:schema>
